/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.4;
	font-family: "PT Sans", arial, sans-serif;
	background-color: #f6f6f6;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#header {
	margin: 0;
	padding: 10px;
	min-height: 22px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	background-color: #dedede;
	color: black;
	border-bottom: 1px solid #b0b0b0;
}

h1 {
    float: left;
	margin: -5px 0 0 -5px;
}

h2 {
	font-size: 14px;
}

table, th, td {
    margin-bottom: 15px;
    border: 1px solid #b0b0b0;
}

th {
    font-weight: normal;
    background-color: #f6f6f6;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

th.table-caption {
    font-weight: bold;
}

#subject-name {
	
}

#subject-email {
	font-weight: normal;
}

#subject-email:before {
    content: '[';
}

#subject-email:after {
    content: ']';
}

#logout-button {
	display: none;
}

#login-username {
    position: absolute;
    left: 100px;
}

#login-password {
    position: absolute;
    left: 100px;
}

.ui-form {
	display: none;
	padding: 10px;
	background-color: white;
}

#login-hint {
	font-size: 11px;
	color: #999999;
}

#error-message p {
    min-height: 42px;
    border-top: 1px dotted red;
    border-bottom: 1px dotted red;
    background-color: pink;
    background-image: url('error-32x32.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 47px;
    line-height: 42px;
}

#console {
    border-top: 1px dotted #b0b0b0;
    padding: 10px;
    background-color: white;
}

#console textarea {
	width: 100%;
	height: 250px;
	font-size: 11px;
	overflow-y: scroll;
}

#footer {
    width: 100%;
	margin: 0;
	border-top: 1px solid #b0b0b0;
	padding: 5px;
	background-color: #f6f6f6;
	color: black;
	font-size: 10px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

